.htmlsitemap-container.outer {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #e9e9e9;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;

    .top-sitemap-container {
        margin-bottom: 20px;

        .sitemap-section {
            .categories-container-inner {
                h3.section-title {
                    font-size: 23px;
                    font-weight: normal;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    margin-top: 30px;
                    color: #7e807e;
                    border-bottom: 1px solid #7e807e;
                }

                ul.cat {
                    list-style-type: none;
                }

                li {
                    a {
                        color: #333;

                        &:hover {
                            color: #eb553c;
                        }
                    }
                }

                li.Level-2.Main.Category {
                    a {
                        font-size: 18px;
                    }
                }

                li.Level-1.Main.Category {
                    a {
                        font-size: 18px;
                    }
                }

                li.Level-3.Main.Category {
                    padding-left: 10px;
                }
            }
        }
    }

    .products-container .sitemap-section {
        .products-container-inner {
            .product-list-by-char {
                li.product-list-item {
                    overflow-wrap: break-word;
                    list-style-type: none;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .cmspages-container-inner {
        .cms-page-list {
            li.cms-item {
                list-style-type: none;
                margin-bottom: 10px;
            }

            ul.cms-page-list {
                padding: 0;
            }
        }
    }

    .maplist-items {
        color: red;
        text-decoration: none;
        font-size: 14px;
    }

    ul.cat {
        padding: 0;
    }

    ul {
        padding: 0;
    }

    .fuel-transfer {
        font-weight: bold;
        font-size: 20px;
    }

    .transfer-pumps {
        margin-left: 15px;
    }

    .category-item {
        margin-top: 20px;
    }

    h5.active.char-title {
        font-size: 23px;
        font-weight: normal;
        margin-bottom: 20px;
        padding-bottom: 10px;
        margin-top: 30px;
        color: #7e807e;
        border-bottom: 1px solid #7e807e;
    }

    span.char {
        float: left;
        height: 36px;
        width: 36px;
        background: #7e807e;
        color: #fff;
        line-height: 36px;
        text-align: center;
    }

    span.pcount {
        float: left;
        line-height: 36px;
        display: block;
        margin: 0 0 0 15px;
    }

    .category-item.level-3 {
        margin-left: 30px;
    }

    .product-show {
        margin: 10px 0;
        font-size: 16px;
        font-weight: normal;
        color: #999999;
        padding-left: 10px;
    }

}

.map-title {
    .page-title {
        text-align: center;
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .htmlsitemap-container.outer {
        margin: 20px 0 0 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .htmlsitemap-container.outer {
        .top-sitemap-container {
            .sitemap-section {
                .categories-container-inner {
                    li {
                        a {
                            line-height: 2;
                        }
                    }

                    ul.cat {
                        border-bottom: 1px solid #dedede;
                        padding: 15px 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .htmlsitemap-container.outer {
        .top-sitemap-container {
            .sitemap-section {
                .categories-container-inner {
                    .center-content {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.product-list-by-char.char-a {
    margin: 20px 0;

    .product-list-item {
        border-bottom: 1px solid #dedede;
        padding: 10px 0;
        min-height: 93px;
        display: flex;
        width: 100%;
    }

    a {
        display: flex;
        align-items: center;
        color: #333;

        &:hover {
            color: #eb553c;
        }
    }


}
